.record {
	padding-bottom: 40px;

	&__tabs {
		margin-top: 50px;
		text-align: center;
	}

	&__toDay {
		margin-top: 30px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__toDay-title {
		width: 100%;
		font-size: 13px;
		font-weight: 700;
		color: #3c4858;
		font-family: "Roboto Slab", sans-serif;
		margin-bottom: 15px;
	}

	&__date {
		display: flex;
		align-items: center;

		span {
			position: relative;
			display: inline-block;
			font-size: 15px;
			margin-left: 10px;
			color: #3c4858;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				background-color: #9c27b0;
			}
		}
	}

	&__time {
		display: flex;
		align-items: center;
		margin-left: 80px;

		span {
			display: inline-block;
			font-size: 15px;
			margin-left: 10px;
			color: #3c4858;
		}
	}

	&__info {
		margin-left: auto;
		color: #5d5d5d;
		font-size: 13px;
	}

	&__head-slider {
		overflow: hidden;
		width: 90%;
		position: relative;
		margin: 0 auto;
	}

	&__head-slider-card {
		text-align: center;
	}

	&__head-slider-date {
		border-radius: 10px;
		padding: 5px 13px;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		color: #3c4858;

		&.active {
			background-color: #e91e63;
			color: #fff;
		}
	}

	&__head-slider-day {
		font-family: "Roboto Slab", sans-serif;
		font-weight: 400;
		font-size: 20px;
	}

	&__head-slider-day-num {
		font-size: 13px;
		font-weight: 400;
	}

	&__head-slider-cab {
		display: flex;
		margin: 4px -4px -4px -4px;

		span {
			width: 100%;
			flex-grow: 1;
			margin: 4px;
			font-size: 12px;
			border-radius: 15px;
			background-color: #505050;
			color: #ffffff;
			line-height: 30px;

			&:nth-child(2) {
				background-color: #949494;
			}
		}
	}

	&__main-slider {
		overflow: hidden;
		width: 90%;
		position: relative;
		margin: 0 auto;
	}

	&__main-slider-card {
		display: flex;
	}

	&__main-slider-col {
		flex-grow: 1;

		& + .record__main-slider-col {
			margin-left: 8px;
		}
	}

	&__main-slider-time {
		width: 100%;
		font-size: 15px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.28);
		letter-spacing: 0.6px;
		border-radius: 18px;
		background-color: #00bcd4;
		color: #ffffff;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		transition: all .2s ease-out;

		&.disable {
			background-color: #f1f1f1;
			color: #b7b7b7;
			pointer-events: none;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		&.ban {
			position: relative;
			background-color: #f1f1f1;
			color: transparent;
			pointer-events: none;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url("../img/x.svg") no-repeat center;
				width: 28px;
				height: 15px;
			}
		}

		&.hover,
		&.active {
			background-color: #e91e63;
		}

		& + .record__main-slider-time {
			margin-top: 8px;
		}
	}

	&__head-slider-wrap {
		position: sticky;
		top: 70px;
		background-color: #fff;
		z-index: 2;
		padding: 8px 0;
		margin-top: 35px;
	}

	.swiper-button-next {
		background-image: url("../img/arr-right.svg");
	}

	.swiper-button-prev {
		background-image: url("../img/arr-left.svg");
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 24px;
		height: 24px;
		background-size: 24px;
	}

	&__tabs-content-item {
		display: none;

		&.active {
			display: block;
		}
	}

	&__data {
		background-color: #9c27b0;
		padding: 35px 60px 35px 35px;
	}

	&__popup-title {
		color: #ffffff;
		font-family: "Roboto Slab", sans-serif;
		font-size: 26px;
		font-weight: 700;
	}

	&__data-card {
		display: flex;
		align-items: center;
		margin-top: 25px;

		& + .record__data-card {
			margin-top: 15px;
		}

		& > p {
			margin: 0;
			color: #ffffff;
			font-size: 14px;
			line-height: 41px;
			margin-right: 10px;
		}

		& > span {
			opacity: 0.27;
			color: #ffffff;
			font-size: 14px;
			font-weight: 400;
			width: 140px;
			flex-shrink: 0;
		}

		.bootstrap-select {
			margin: 0;
		}

		.form-control {
			height: auto;
		}

		.filter-option {
			color: #fff;
		}

		.dropdown-toggle {
			background-color: transparent !important;

			&::after {
				border-bottom-color: rgb(255, 255, 255);
				border-top-color: rgb(255, 255, 255);
			}
		}

		.dropdown-menu {

			li {

				& + li {
					margin-top: 5px;
				}
			}
		}
	}

	&__form {
		padding: 40px 60px 35px 35px;

		.form-group {
			padding: 0;
			margin: 0;

			input,
			textarea {
				color: #3c4858;
				font-family: Roboto, sans-serif;
				font-size: 14px;
				font-weight: 400;

				&::placeholder {
					color: #b7b7b7;
					font-weight: 400;
					font-family: Roboto, sans-serif;
					font-size: 14px;
				}
			}

			& + .form-group {
				margin-top: 30px;
			}

			&--req {
				position: relative;

				&::before {
					content: '*';
					position: absolute;
					top: 55%;
					left: -15px;
					transform: translateY(-50%);
					color: #e91e63;
					font-size: 14px;
					font-weight: 400;
				}
			}
		}

		.btn-control {
			margin-top: 35px;
			display: flex;

			.btn {
				flex-grow: 1;
				width: 100%;
				text-transform: uppercase;
				padding: 18px 10px;
				font-size: 13px;
				font-weight: 500;
				letter-spacing: 0.26px;
				border-radius: 28px;

				&[type="submit"] {
					color: #ffffff;
					background-color: #e91e63;
				}

				&[type="button"] {
					margin-left: 15px;
					color: #35465c;
					background-color: #f3f3f3;
				}
			}
		}
	}

	&__form-info {
		color: #35465c;
		font-size: 14px;
		margin-top: 25px;
		margin-left: -10px;

		span {
			color: #e91e63;
		}
	}

	&__form-price {
		font-size: 14px;
		color: #35465c;
		margin-top: 45px;
		text-align: right;
	}

	&__form-price-sum {
		font-size: 35px;
		margin-left: 10px;
	}

	&__form-price-sym {
		font-size: 25px;
	}

	.bmd-form-group {
		padding-top: 0;
	}
}

.btn {

	&--standart {
		text-transform: uppercase;
		padding: 18px 10px;
		font-size: 13px;
		font-weight: 500;
		letter-spacing: 0.26px;
		border-radius: 28px;
		color: #ffffff;
		background-color: #e91e63;
		min-width: 95px;
		text-align: center;
	}

	&--green-custom {
		border: 2px solid #4caf50;
		background-color: #fff;
		color: #000;
		text-transform: none;
		font-size: 14px;
		box-shadow: none !important;
		padding-top: 7px;
		padding-bottom: 7px;

		&:focus,
		&:active {
			border: 2px solid #4caf50 !important;
			background-color: #fff !important;
			color: #000 !important;
		}

		&:hover,
		&.active {
			border: 2px solid #4caf50 !important;
			background-color: #4caf50 !important;
			color: #fff !important;
			box-shadow: none !important;
		}
	}
}

.btn-control {

	&--mt10 {
		margin-top: 10px;
	}

	&--end {
		display: flex;
		justify-content: flex-end;
	}
}

.warning {
	display: flex;

	&__text {
		font-size: 15px;
		color: #3d4047;
		font-weight: 300;
	}

	i {
		color: #ff595f;
		flex-shrink: 0;
		margin-right: 10px;
		font-size: 32px;
	}
}
