body {

	&.no-scrolling {
		overflow: hidden !important;
		margin-right: 17px !important;

		.navbar {
			margin-right: 17px !important;
		}
	}
}

.navbar {
	transition-property: background-color, padding !important;
}

@supports (-webkit-overflow-scrolling: touch) {
	body {
		&.no-scroll {
			overflow: hidden;
			margin-right: 0;

			.navbar {
				margin-right: 0;
			}
		}
	}
}
