// Popup
.popup {
	display: flex;
	min-height: 100%;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .35);
	transition: all .2s ease-out;
	opacity: 0;
	z-index: -1;
	pointer-events: none;

	&__close {
		position: absolute;
		top: 15px;
		left: auto;
		width: 25px;
		height: 25px;
		right: 15px;
		cursor: pointer;
		padding-top: 13px;

		&::before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			transition: all .2s ease-out;
			width: 15px;
			height: 3px;
			margin: 0 auto;
			background-color: #c47fd0;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {

			&::before,
			&::after {
				background-color: #000 !important;
			}
		}
	}

	&__inner {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 480px;
		background-color: #fff;
		transform: translateX(100%);
		transition: all .1s ease-out;
		overflow-y: auto;

		&--center {
			position: relative;
			border-radius: 5px;
			width: 350px;
			margin: auto;
			padding: 30px 25px 25px;
			background-color: #fff;
			z-index: 2;
			transition: all .1s ease-out;
			transform: scale(.9);
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
			overflow: hidden;

			.popup__close {
				right: 6px;
				top: 10px;

				&::before,
				&:after {
					background-color: #c2c2c2;
				}
			}
		}
	}

	&.active {
		opacity: 1;
		z-index: 10000;
		pointer-events: visible;

		.popup__inner {
			transition: all .2s ease-out .2s;
			transform: translateX(0) scale(1);
		}
	}
}
