@media only screen and (max-width: 768px) {
	.record {

		&__info {
			margin-left: 0;
			margin-top: 15px;
			width: 100%;
		}

		&__time {
			margin-left: auto;
		}
	}
}

@media only screen and (max-width: 599px) {
	.popup {

		&__inner {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 480px) {
	.record {

		&__data {
			padding: 20px;
		}

		&__form {
			padding: 20px;
		}

		&__data-card {

			& > span {
				width: 120px;
			}
		}

		&__time,
		&__toDay-title,
		&__date {
			display: none;
		}

		.btn--green-custom {
			padding: 10px 13px;
		}

		&__tabs {
			margin-top: 30px;
		}

		&__info {
			margin-top: 0;
		}
	}
}
