<!-- Elements -->
<!-- just add class "active" -->
<div class="popup popup-record">
	<div class="popup__inner">
		<div class="popup__close"></div>
		<div class="record__data">
			<div class="record__popup-title">
				Запись
			</div>
			<div class="record__data-card">
				<span>Кабинет</span>
				<select class="form-control selectpicker" data-style="btn btn-link">
					<option>Каб. 42</option>
					<option>Каб. 42</option>
					<option>Каб. 42</option>
					<option>Каб. 42</option>
					<option>Каб. 42</option>
					<option>Каб. 42</option>
				</select>
			</div>
			<div class="record__data-card">
				<span>Дата</span>
				<p>Вторник 02.07</p>
			</div>
			<div class="record__data-card">
				<span>Время</span>
				<p>c</p>
				<select class="form-control selectpicker" data-style="btn btn-link">
					<option>22:00</option>
					<option>22:00</option>
					<option>22:00</option>
					<option>22:00</option>
					<option>22:00</option>
					<option>22:00</option>
				</select>
			</div>
			<div class="record__data-card">
				<span>Длительность</span>
				<select class="form-control selectpicker" data-style="btn btn-link">
					<option>1 час</option>
					<option>1 час</option>
					<option>1 час</option>
					<option>1 час</option>
					<option>1 час</option>
					<option>1 час</option>
				</select>
			</div>
		</div>
		<form class="record__form">
			<div class="form-group form-group--req">
				<input type="text" class="form-control" name="name" placeholder="Имя">
			</div>
			<div class="form-group form-group--req">
				<input type="text" class="form-control" id="phone" placeholder="Номер телефона">
			</div>
			<div class="form-group">
				<textarea class="form-control" placeholder="Комментарий" rows="3"></textarea>
			</div>
			<div class="record__form-info"><span>*</span>  Обязательные для заполнения поля</div>
			<div class="record__form-price">
				<span>Итого:</span>
				<span class="record__form-price-sum">400</span>
				<span class="record__form-price-sym">₽</span>
			</div>
			<div class="btn-control">
				<button type="submit" class="btn btn-round">ЗАПИСАТЬСЯ</button>
				<button type="button" class="btn btn-round js-popup-close">ОТМЕНА</button>
			</div>
		</form>
	</div>
</div>
<!-- just add class "active" -->
<div class="popup popup-warning">
	<div class="popup__inner popup__inner--center">
		<div class="popup__close"></div>
		<div class="warning">
			<i class="material-icons">warning</i>
			<div class="warning__text">
				Для данной услуги требуется
				3 свободных часа подряд
			</div>
		</div>
		<div class="btn-control btn-control--mt10 btn-control--end">
			<button type="button" class="btn btn--standart btn-round js-popup-close">OK</button>
		</div>
	</div>
</div>
