<!--Footer -->
<footer class="footer">
	<div class="container">
		<nav>
			<ul>
				<li>
					<a href="https://www.creative-tim.com">
						КАК ДОБРАТЬСЯ
					</a>
				</li>
				<li>
					<a href="https://creative-tim.com/presentation">
						РЕКВИЗИТЫ
					</a>
				</li>
				<li>
					<a href="http://blog.creative-tim.com">
						ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ
					</a>
				</li>
				<li>
					<a href="https://www.creative-tim.com/license">
						ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
					</a>
				</li>
				<li>
					<a href="https://www.creative-tim.com/license">
						НАПИСАТЬ РАЗРАБОТЧИКУ
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright">
			©
			<script type="text/javascript">
				document.write(new Date().getFullYear())
			</script>
			, Cabinet.Rent
		</div>
	</div>
</footer>
