<!-- Header -->
<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand d-flex" href="/">
				<div class="logo-image">
					<img src="../../public/img/logo.svg" class="img-fluid h-100">
				</div>
				<span class="ml-2">Cabinet.Rent</span>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="navigation-example4">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a href="/#cabinets" class="nav-link">
						КАБИНЕТЫ
					</a>
				</li>
				<li class="nav-item">
					<a href="/rules.html" class="nav-link">
						ПРАВИЛА
					</a>
				</li>
				<li class="nav-item">
					<a href="/pricing.html" class="nav-link">
						ЦЕНЫ
					</a>
				</li>
				<li class="nav-item">
					<a href="/blog-posts.html" class="nav-link">
						НОВОСТИ
					</a>
				</li>
				<li class="nav-item">
					<a href="/contact-us.html" class="nav-link">
						КАК ДОБРАТЬСЯ
					</a>
				</li>
				<li class="button-container">
					<a href="/#record" class="btn btn-rose btn-round btn-block">Запись</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<!-- If user login -->
				<!--<li class="nav-item">-->
				<!--<a href="/login-page.html" class="nav-link">-->
				<!--<i class="material-icons">face</i>-->
				<!--Рожден-->
				<!--<div class="ripple-container"></div>-->
				<!--</a>-->
				<!--</li>-->
				<!-- If user undefined -->
				<li class="nav-item">
					<a href="/login-page.html" class="nav-link">
						<i class="material-icons">vpn_key</i>
						Войти
					</a>
				</li>
				<li class="nav-item">
					<a href="/signup-page.html" class="nav-link">
						<i class="material-icons">person_add</i>
						ЗАРЕГИСТРИРОВАТЬСЯ
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>